/* Overall section: This is where all content is. */
* {
    box-sizing: border-box;
    margin: 0%;
    border: 0%;
}

html,
body {
    margin: 0%;
    border: 0%;
    height: 100%;
    max-height: 100%;
    width: auto;
}


/* Head section: This is where my leading content comes in. */

header {
    /* position: fixed; */
    /* background-image: url(/images/P3hE.gif); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    /* text-align: center; */
    margin: 0%;
    border: 0%;
    padding: 0% 0% 0% 0%;
    background-color: red;
}

.profileImage {
    padding: 0;
    margin: 0;
    padding: 0;
    height: 75%;
    width: 100%;
}

.menu {
    margin: 0%;
    border: 0%;
    padding: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
}

.masibulelePicture {
    border-radius: 50%;
    margin: 0%;
    border: 0%;
    padding: 1px;
    max-height: 130px;
    width: auto;
}


/* Body section: This where my main content comes in. */

#bodyContent {
    
}

section {
    background-image: url(https://picsum.photos/seed/picsum/1800/1100);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0%;
    border: 0%;
    padding: 1%;
    height: 70%;
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1%;
    height: 70%;
    width: 0%;
    align-self: center;
}

input[type=text], textarea {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=email], textarea {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.row {
    display: flex;
    flex-direction: column;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 1px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 1px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=submit] {
    width: 50%;
    height: auto;
    float: left;
}

#buttonLabel {
    padding: 9px;
    display: flex;
    justify-content: center;
}

button {
    border-radius: 3%;
    background-color: yellow;
    box-shadow: blueviolet;
    margin: 0%;
    border: 0%;
    padding: 0%;
    height: 100%;
    width: 16.67%;
}

#menuButton:hover {
    background-color: blue;
}


/* Foot section: This where my last content comes in. */

footer {
    /* position: fixed; */
    margin: 0%;
    border: 0%;
    padding: 1%;
    height: 5%;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 33.3%;
    align-items: center;
}

.copyright {
    display: flex;
    align-items: center;
    height: 100%;
    width: 33.3%;
    justify-content: center;
    color: white;
}

.faqs {
    display: flex;
    align-items: center;
    height: 100%;
    width: 33.3%;
    justify-content: center;
    color: white;
}

a {
    text-decoration: none;
}

